  <div class="card">
    <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id)%>
    <%# this prototype.image was originally a random text but we put a model name prototype and then its designation on the model which was has_one image%>
    <div class="card__body">
      <div class="prototype-title">
        <%= link_to prototype.title, prototype_path(prototype.id), class: :card__title%>
        <%# was originally prototype.user.title but then itll look for title in user table. tyake out user%>
      </div>
      <p class="card__summary">
        <%= link_to prototype.catch_copy, prototype_path(prototype.id) %>
        <%# make sure link_to does not double. and the path is prototype_path(prototype.id) for places that are root-path%>
      </p>
      <div class ="prototype_user">
        <%= prototype.user_id%>
        <%= link_to prototype_path(prototype.id), class: :card__user %>
      </div>
    </div>
  </div>
  <p><%=prototype.text%></p>
